/* ::::CSS Sequence (7 Steps):::: */
/* Step1: parentContainer */
/* Step2: component */
/* Step3: componentContainer */
/* Step4: row */
/* Step5: column */
/* Step6: subColumn */
/* Step7: contentContainer */


/* Step1: parentContainer */
/* :::For Parent Container CSS Properties are given in the Default CSS file::: */
/* header{
    background-color: #649db1;
} */

/* Step2: component */
.contactIcon {
    background-color: #fefefe;
    padding: 3rem 0rem;
}

/* Step3: componentContainer */
.contactIconContainer {
    background-color: #ffffff;
    max-width: 1200px;
    margin: auto;
}

/* Step4: row1 */
.contactIconBody1 {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* Step5: column1 */
.contactIconBlock1 {
    /* background-color: #fcfcfc; */
}

/* Step6: subColumn1 */
.contactIconBox1 {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*step7:contentContainer*/

.contactIconBox1 i {
    background-color: #ffffff;
    margin: 2rem 1rem;
    font-size: 5rem;
    padding: 12px;
    background-color: #be9c79;
    border-radius: 75%;
    height: 70px;
    width: 70px;
    color: #ffffff;

}

.contactIconBox1 h3 {
    background-color: rgb(255, 255, 255);
    font-family: var(--ffsecondary);
    font-weight: 500;
    color: #212529;
    font-size: 2rem;
    margin: 1rem;
    
}

.contactIconBox1 p {
    background-color: rgb(255, 255, 255);
    font-family: var(--ffsecondary);
    color: #212529;
    font-size: 2rem;
    font-weight: 400;


}

.contactIconBox1 p {
    background-color: rgb(255, 255, 255);
    font-family: var(--ffsecondary);
    color: #212529;
    font-size: 2rem;
    font-weight: 400;
    
}


/* Step5: column2 */
.contactIconBlock2 {
    /* background-color: rgb(255, 255, 255); */

}

/* Step6: subColumn2 */
.contactIconBox2 {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

/*step7:contentContainer*/

.contactIconBox2 i {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem;
    font-size: 5rem;
    padding: 12px;
    background-color: #be9c79;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    color: #ffffff;

}

.contactIconBox2 h3 {
    background-color: #ffffff;
    font-family: var(--ffsecondary);
    font-size: 2rem;
    color: #212529;
    font-weight: 500;
    margin: 1rem;
}

.contactIconBox2 p {
    background-color: rgb(255, 255, 255);
    font-family: var(--ffsecondary);
    font-size: 2rem;
    color: #212529;
    font-weight: 400;
}


/*step5: column3 */
.contactIconBlock3 {
    /* background-color: rgb(255, 255, 255); */

}

/*step6:subColumn3 */
.contactIconBox3 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*step7:contentContainer*/

.contactIconBox3 i {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem;
    font-size: 5rem;
    padding: 12px;
    background-color: #be9c79;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    color: #ffffff;
}

.contactIconBox3 h3 {
    background-color: rgb(255, 255, 255);
    font-family: var(--ffsecondary);
    font-weight: 500;
    color: #212529;
    font-size: 2rem;
    margin: 1rem;
}

.contactIconBox3 p {
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    color: #212529;
    font-family: var(--ffsecondary);
    font-weight: 400;
}

/*step5:column4 */
.contactIconBlock4 {
    background-color: rgb(234, 234, 234);
}

/*step6:subcolumn4 */
.contactIconBox4 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*step7:contentContainer*/

.contactIconBox4 i {
    background-color: rgb(255, 255, 255);
    margin: 2rem 1rem;
    font-size: 5rem;
    padding: 12px;
    background-color: #be9c79;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    color: #ffffff;

}

.contactIconBox4 h3 {
    background-color: #fffeff;
    font-family: var(--ffsecondary);
    font-weight: 500;
    color: #212529;
    font-size: 2rem;
    margin: 1rem;

}

.contactIconBox4 p {
    background-color: rgb(255, 255, 255);
}

.contactIconBox4 p {
    background-color: rgb(255, 255, 255);
    font-family: var(--ffsecondary);
    font-size: 2rem;
    color: #212529;
    font-weight: 400;
}

/* Step4: row2 */
.contactIconBody2 {
    /* background-color: #88b8cc; */
    display: grid;
    grid-template-columns: 1fr;

}

/* Step5: column5 */
.contactIconBlock5 {
    /* background-color: violet; */
}

/* Step6: subColumn5 */
.contactIconBox5 {
    /* background-color: #ca0000; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0rem;


}

/*step7:contentContainer*/

.contactIconBox5 p {
    /* background-color: rgb(255, 255, 255); */
    font-family: var(--ffsecondary);
    font-weight: 500;
    color: #212529;
    font-size: 2rem;
}

span {
    color: #be9c79;
}