/* ::::CSS Sequence (7 Steps):::: */
/* Step1: parentContainer */
/* Step2: component */
/* Step3: componentContainer */
/* Step4: row */
/* Step5: column */
/* Step6: subColumn */
/* Step7: contentContainer */


/* Step1: parentContainer */
/* :::For Parent Container CSS Properties are given in the Default CSS file::: */
/* header{
    background-color: #649db1;
} */

/* Step2: component */
.menu {
  /* background-color: #ff02cc; */
  padding: 3rem 0rem;
}

/* step3: component container */
.menucontainer{
    background-color: aliceblue;
    max-width: 1200px;
    margin: auto;
}
/* step4:row1 */
.menubody1{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* step5:column1 */
.menublock1{
    background-color: aliceblue;
}

/* step6:subcolumn1 */
.menubox1{
    background-color: aqua;

}
/* step7:content continer */
.menubox1 figure{
    background-color: aliceblue;
}
.menubox1 figure img {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 3rem;
}

/* 5.column2 */
.menublock2{
    background-color: aliceblue;
}
/* 6.subcolumn2 */
.menubox2{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 7.conentcontainer */
.menubox2 h2{
    background-color: aliceblue;
    font-family: var(--ffprimary);
    font-size: 4rem;
    font-weight: 900;
    color: #212529;
}
.menubox2 p{
    background-color: #212529;
    font-family: var(--ffprimary);
    font-size: 1rem;
    font-weight: 900;
    color: #212529;
}

.menubox2 button{
    background-color: aliceblue;
    margin: 2rem 0rem;
    font-family: var(--ffprimary);
    font-size: 30px;
    padding: 07px 30px;
    font-weight: 600;
    color: white;
}

.menubox2 button:hover{
    background-color: #212529;
    color: white;
    transition: background-color 0.2s ease;
}